// Color
$header-color: #111111;
$text-color: #444444;
$fansy-color: #68b738;
$fansy-color-hover: #5eaa2f;
$main-background: #ffffff;
$secondary-background: #f2f2f2;
$button-text-color: #ffffff;

// Fonts
$primary-font: "OsWald","Arial",sans-serif;
$secondary-font: "Arial",sans-serif;

// Size adaptation
$tablet-width: 768px;
$desktop-width: 1300px;
