.achievements {
  padding: 18px 0 2px;
  background-color: $secondary-background;
}

.achievements__inner {
  padding: 0 20px;
}

.achievements__title {
  margin: 0 0 23px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $header-color;
}

.achievements__description {
  margin: 0 5px 25px 0px;
  font-family: $secondary-font;
}

.achievements__details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievements__wrap-info {
  position: relative;
  width: 124px;
  padding: 14px 0;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  text-align: center;

  &:first-child{
    margin-right: 34px;
  }
}

.achievements__value {
  font-size: 24px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111;
}

.achievements__sub-description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -17px;
  width: 70px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $secondary-background;
  font-family: $secondary-font;
}

.achievements__price {
  margin: 35px 0;
  line-height: 20px;
  text-transform: uppercase;
  color: #111;
  text-align: center;
}

.slider__img-block {
  text-align: center;
}

.slider__after-block {
  display: none;
  position: absolute;
}

.slider__button-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 197px;
  margin: 0 auto;
  padding: 30px 0 35px;
}

.slider__button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
  color: #111111;
}

.slider__progress {
  position: relative;
  max-width: 84px;
  width: 100%;
  height: 14px;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  background-color: $main-background;
}

.slider__scale {
  position: absolute;
  left: 5px;
  top: 3px;
  width: 50%;
  height: 6px;
  border-radius: 50px;
  background: $fansy-color;

  &:hover {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25)
  }

  &:active {
    border: 1px solid $fansy-color;
  }
}


@media (min-width: $tablet-width) {
  .achievements {
    padding: 44px 0 0px;
    background-color: transparent;
  }

  .achievements__inner {
    padding: 0 30px;
    margin-bottom: 85px;
  }

  .achievements__title {
    margin-bottom: 66px;
    font-size: 60px;
  }

  .achievements__description {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  .achievements__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .achievements__wrap-info {
    padding: 23px 10px 20px;
    width: 162px;

    &:first-child {
      margin-right: 42px;
    }
  }

  .achievements__value {
    font-size: 30px;
  }

  .achievements__sub-description {
    width: 135px;
    padding: 0;
    bottom: -5px;
    font-size: 14px;
    background-color: $main-background;
  }

  .achievements__price {
    max-width: 192px;
    margin: 0;
    font-size: 20px;
    text-align: right;
    line-height: 28px;
  }

  .slider {
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 462px;
      background-repeat: no-repeat;
      background-color: $secondary-background;
      z-index: -1;
    }
  }

  .slider__img-block {
    margin: 0 auto;
    width: 708px;
    height: 517px;
    position: relative;
  }

  .slider__before-block {
    position: relative;
    width: 355px;
    overflow: hidden;
    z-index: 2;
  }

  .slider__img-before {
    max-width: none;
    margin-left: 16px;
  }

  .slider__after-block {
    overflow: hidden;
    width: 353px;
    display: block;
    top: 0;
    right: 0;
  }

  .slider__img-after {
    position: relative;
    left: -339px;
    max-width: none;
  }

  .slider__button-block {
    max-width: 570px;
    padding: 20px 0 68px;
  }

  .slider__button {
    padding-bottom: 7px;
    font-size: 20px;
    line-height: 20px;
    border-bottom: 1px dotted #000000;

    &:hover {
      border-bottom-style: solid;
    }

    &:focus {
      border: none;
    }
  }

  .slider__progress {
    max-width: 430px;
    height: 6px;
    background-color: #dcdcdc;
    border: none;
  }

  .slider__scale {
    width: 34px;
    height: 34px;
    top: -15px;
    left: 200px;
    border: 1px solid #dcdcdc;
    cursor: pointer;
    background-color: $main-background;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);

    &::before {
      content: '';
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: #68b738;
      top: 12px;
      left: 12px;
    }
  }
}

@media (min-width: $desktop-width) {
  .achievements {
    position: relative;
    padding: 20px 0 71px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 462px;
      background-repeat: no-repeat;
      background-color: $secondary-background;
      z-index: -1;
    }
  }

  .achievements__wrapper {
    max-width: 1300px;
    padding: 0px 10px;
    margin: 0 auto;
    position: relative;
  }

  .achievements__inner {
    margin-bottom: 0;
  }

  .achievements__title {
    margin-bottom: 146px;
  }

  .achievements__description {
    width: 435px;
    margin-bottom: 69px;
  }

  .achievements__sub-description {
    background-color: $secondary-background;
  }

  .achievements__price {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 57px 40px 0 0;
  }

  .achievements__block {
    width: 367px;
    display: block;
  }

  .achievements__slider {
    position: absolute;
    right: 0px;
    top: -52px;
  }

  .slider__before-block {
    width: 380px;
  }

  .slider::after {
    display: none;
  }

  .slider__button-block {
    padding: 38px 43px 0 94px;
    max-width: 100%;
  }
}
