.achievements {
  padding: 17px 0 24px;
  background-color: $secondary-background;
}

.achievements__inner {
  padding: 0 20px;
}

.achievements__title {
  margin: 0 0 23px;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: $header-color;
}

.achievements__description {
  margin: 0 5px 25px 0px;
  font-family: $secondary-font;
}

.achievements__details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.achievements__wrap-info {
  position: relative;
  width: 124px;
  padding: 14px 0;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  text-align: center;

  &:first-child{
    margin-right: 34px;
  }
}

.achievements__value {
  font-size: 24px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111;
}

.achievements__sub-description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -17px;
  width: 70px;
  margin: 0 auto;
  padding: 0 10px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $secondary-background;
  font-family: $secondary-font;
}

.achievements__price {
  margin: 35px 0 40px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .achievements {
    padding: 44px 0 24px;
    background-color: $main-background;
  }

  .achievements__inner {
    padding: 0 30px;
  }

  .achievements__title {
    margin-bottom: 66px;
    font-size: 60px;
  }

  .achievements__description {
    margin-bottom: 50px;
    font-size: 16px;
    line-height: 24px;
  }

  .achievements__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .achievements__wrap-info {
    padding: 23px 10px 20px;
    width: 162px;

    &:first-child {
      margin-right: 42px;
    }
  }

  .achievements__value {
    font-size: 30px;
  }

  .achievements__sub-description {
    width: 135px;
    padding: 0;
    bottom: -5px;
    font-size: 14px;
    background-color: $main-background;
  }

  .achievements__price {
    max-width: 192px;
    margin: 0;
    font-size: 20px;
    text-align: right;
    line-height: 28px;
  }
}
