.categories {
  margin-top: 22px;
}

.categories__inner {
  padding: 0 20px;
}

.categories__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $secondary-background;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.categories__block {
  display: flex;
  align-items: center;
}

.categories__wrap {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 3px;
  border-radius: 50%;
  background-color: $fansy-color;
}

.categories__image {
  position: absolute;
  max-width: none;

  &--slim {
    left: 8px;
    bottom: 4px;
  }

  &--pro {
    left: -9px;
    bottom: 13px;
  }
}

.categories__title {
  margin: 9px 0 14px 18px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.categories__description {
  width: 100%;
  padding-bottom: 21px;
  margin: 17px 0 0;
  font-family: $secondary-font;
  border-bottom: 1px solid #d9d9d9;
}

.categories__link {
  display: flex;
  align-items: center;
  padding-top: 19px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  &:active {
    opacity: 0.3;
  }

  &::after {
    content: '';
    margin-left: 22px;
    display: block;
    width: 28px;
    height: 10px;
    background-image: url(../img/icon-right-arrow-long.svg);
    background-repeat: no-repeat;
    background-position: -5px 0;
    transition: all 0.1s ease;
  }

  &:hover::after{
    background-image: url(../img/icon-right-arrow-verylong.svg);
  }
}

@media (min-width: $tablet-width) {
  .categories {
    margin-top: 0;
  }

  .categories__inner {
    padding: 0 30px;
  }

  .categories__item {
    position: relative;
    padding: 78px 312px 64px 53px;

    &:not(:first-child) {
      margin-top: 28px;
    }
  }

  .categories__wrap {
    position: absolute;
    right: 60px;
    top: 96px;
    width: 200px;
    height: 200px;
  }

  .categories__image {
    height: 100%;

    &--slim {
      width: 69%;
      left: 30px;
      bottom: 17px;
    }

    &--pro {
      width: 133%;
      left: -33px;
      bottom: 3px;
    }
  }

  .categories__title {
    margin: 0 0 8px;
    font-size: 36px;
  }

  .categories__description {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .categories__link {
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .categories{
    margin-top: 76px;;
  }

  .categories__inner {
    max-width: 1300px;
    padding: 0px 40px;
    margin: 0 auto;
  }

  .categories__list {
    display: flex;
    justify-content: space-between;
  }

  .categories__item {
    padding: 47px 55px 64px 52px;
    width: 570px;

    &:not(:first-child) {
      margin-top: 0;
      width: 570px;
    }
  }

  .categories__wrap {
    position: relative;
    margin-left: 0px;
    margin-right: 62px;
    right: auto;
    top: auto;
    width: 100px;
    height: 100px;
  }

  .categories__image {

    &--slim {
      width: 70%;
      left: 14px;
      bottom: 7px;
    }

    &--pro {
      left: -18px;
      bottom: 0px
    }
  }

  .categories__title {
    margin: 0 0 2px;
  }

  .categories__description {
    margin: 40px 0 0px;
    padding: 0;
  }

  .categories__link {
    padding-top: 35px;
  }
}
