.catalog__inner {
    padding: 0 20px;
}

.catalog__title {
  margin: 0 0 40px;
  padding-top: 30px;
  font-size: 36px;
  color: $header-color;
  font-weight: 400;
  line-height: 1;
}

.product {
  display: flex;
  flex-wrap: wrap;
}

.product__item {
  width: 100%;
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed;
}

.product__wraper {
  display: flex;
  justify-content: space-between;
}

.product__description {
  width: 50%;
  max-width: 150px;
}

.product__title {
  font-size: 16px;
  max-width: 100px;
  margin: 20px 0 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $header-color;
}

.product__date {
  width: 100%;
  padding: 0;
  font-size: 12px;
  line-height: 16px;
  font-family: $secondary-font;
}

.product__line {
  display: flex;
  justify-content: space-between;
}

.product__cell {
  margin: 0;
}

.product__button {
  font-size: 16px;
  width: 100%;
}

// More product (catalog more)

.more-product {
  padding: 25px 0;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #ededed;
}

.more-product__plus {
  position: relative;
  width: 30px;
  height: 30px;
  margin: 0 auto;

  &::after,
  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    left: 0;
    top: 0;
    margin-top: 15px;
    background-color: #d3d3d3;
  }

  &::before {
    transform: rotate(90deg);
  }
}

.more-product__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $header-color;
  margin: 24px 0 10px;
}

.more-product__subtitle {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;
  margin: 0 0 20px;
}

.more-product__button {
  width: 100%;
  background-color: #f2f2f2;
  color: $header-color;
  font-size: 16px;

  &:hover {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .catalog__inner {
    padding: 0 30px;
  }

  .catalog__title {
    font-size: 60px;
    margin: 0 0 80px;
  }

  .product__item {
    max-width: 50%;
    margin-top: 88px;
    margin-bottom: 30px;
    border: none;

    &:nth-child(2n + 1) {
      padding-right: 30px;
    }

    &:nth-child(2n) {
      padding-left: 30px;
    }

  }

  .product__block {
    background-color: $secondary-background;
    padding: 20px 40px 39px;
  }

  .product__wraper {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 330px;
  }

  .product__image {
    display: block;
    margin: -110px -40px 8px -40px;
    max-width: fit-content;
  }

  .product__description {
    width: 100%;
    max-width: none;
  }

  .product__title {
    max-width: 130px;
    width: 100%;
    margin: 30px auto 18px;
    text-align: center;
    font-size: 20px;
  }

  .product__date {
    margin-bottom: 30px;
  }

  .product__line {
    padding: 8px 0;
    border-bottom: 1px solid #cdcdcd;
  }

  .product__cell {
    font-size: 16px;
  }

  .more-product {
    padding-top: 0px;
  }

  .more-product__block {
    padding: 40px 35px 37px;
    border: 1px solid $secondary-background;
  }

  .more-product__plus {
    margin-top: 27px;
    width: 60px;
    height: 60px;

    &::after,
    &::before {
      width: 60px;
    }
  }

  .more-product__title {
    margin: 35px auto 25px;
    max-width: 140px;
    font-size: 20px;
  }

  .more-product__subtitle {
    max-width: 180px;
    margin: 0 auto 85px;
    font-size: 16px;
    line-height: 20px;
  }
}
