.categories {
  margin-top: 22px;
}

.categories__inner {
  padding: 0 20px;
}

.categories__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: $secondary-background;

  &:not(:first-child) {
    margin-top: 20px;
  }
}

.categories__block {
  display: flex;
  align-items: center;
}

.categories__wrap {
  position: relative;
  width: 50px;
  height: 50px;
  margin-left: 3px;
  border-radius: 50%;
  background-color: $fansy-color;
}

.categories__image {
  position: absolute;
  max-width: none;

  &--slim {
    left: 8px;
    bottom: 4px;
  }

  &--pro {
    left: -9px;
    bottom: 13px;
  }
}

.categories__title {
  margin: 9px 0 12px 25px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

.categories__description {
  width: 100%;
  padding-bottom: 21px;
  margin: 17px 0 0;
  font-family: $secondary-font;
  border-bottom: 1px solid #d9d9d9;
}

.categories__link {
  padding-top: 19px;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .categories {
    margin-top: 0;
  }

  .categories__inner {
    padding: 0 30px;
  }

  .categories__item {
    position: relative;
    padding: 78px 312px 64px 53px;

    &:not(:first-child) {
      margin-top: 28px;
    }
  }

  .categories__wrap {
    position: absolute;
    right: 60px;
    top: 96px;
    width: 200px;
    height: 200px;
  }

  .categories__image {
    height: 100%;

    &--slim {
      width: 69%;
      left: 32px;
      bottom: 20px;
    }

    &--pro {
      width: 133%;
      left: -41px;
      bottom: 0px;
    }
  }

  .categories__title {
    margin: 0 0 8px;
    font-size: 36px;
  }

  .categories__description {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .categories__link {
    font-size: 20px;
  }
}
