.contacts {
  padding-top: 28px;
}

.contacts__inner {
  padding: 0 20px;
}

.contacts__inform {
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
}

.contacts__title {
  width: 40%;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $header-color;
}

.contacts__adress {
  font-family: $secondary-font;
  line-height: 20px;
  width: 50%;
  margin: 0;
}

.contacts__map {
  background-color: $secondary-background;
}

@media (min-width: $tablet-width) {
  .contacts {
    padding-top: 0px;
  }

  .contacts__inner {
    padding: 0 70px;
  }

  .contacts__inform {
    padding: 60px 0;
  }

  .contacts__title {
    max-width: 160px;
    font-size: 20px;
    line-height: 25px;
  }

  .contacts__adress {
    font-size: 16px;
    max-width: 170px;
    text-align: right;
  }

  .contacts__map-iframe {
    height: 395px;
  }
}
