.footer {
  background-color: $secondary-background;
}

.footer__inner {
  padding: 0 20px;
}

.logo--footer {
  display: block;
  padding: 16px 0 12px;
  text-align: center;
  font-size: 28px;
}

.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 23px 0 17px;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}

.social__item {
  width: 55px;
  text-align: center;
}

.social__image {
  fill: #666666;

  &:hover {
    fill: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__copyright {
  padding-top: 21px;
  padding-bottom: 22px;
}

.footer__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $text-color;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;

  &:hover {
    color: $fansy-color;
  }

  &:hover .footer__image{
    fill: $fansy-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__image {
  fill: #666666; 
}