.program__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: $header-color;
  margin: 0 0 36px;
  padding: 28px 20px 0;
}

.program__subtitle {
  color: $header-color;
  text-transform: uppercase;
  margin: 0 20px 36px 0px;
  padding: 0 20px;
}

.form__wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.form__block {
  flex-basis: 100%;
  max-width: 100%;
}

.form__fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin: 0 0 15px;

  &--contact {
    margin-top: 26px;
  }

  &--comment {
    margin-top: 17px;
  }

  &--optional {
    margin-top: 26px;
  }

  &--line {
    padding: 13px 20px;
    margin: 0 -20px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
}

.form__label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.form__text {
  font-size: 16px;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-right: 15px;
  color: #222222;
}

.form__input {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 13px 15px;
  transition: 0.3s;
  text-transform: uppercase;
  color: $text-color;
  font-size: 16px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    outline: 2px solid $text-color;
  }

  &:active ~ svg,
  &:focus ~ svg {
    fill: #68b738;
  }
}

.form__fieldset input[type="radio"] {
  display: none;
}

.form__radio {
  font-size: 16px;
  position: relative;
  display: block;
  padding: 10px 0px 10px 45px;
  margin-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  color: #222222;

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    border: 1px solid #bfbfbf;
  }

  &::before {
    content: '';
    display: none;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #68b738;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid #d9d9d9;
    transition: 0.3s;
    border-radius: 50%;
  }
}

.form__fieldset input[type="radio"]:checked + label::before {
  display: block;
}

.form__title {
  display: inline-block;
  max-width: 222px;
  margin: 0 0 32px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  background-color: $main-background;
}

.form .strikethrough-text::after {
  margin-top: 14px;
}

.form__icon {
  position: absolute;
  top: 52%;
  right: 15px;
  transform: translateY(-50%);
  transition: 0.3s;
  fill: $text-color;
}

.form__textarea-block {
  padding: 0 20px;
}

.form__textarea {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 14px 13px;
  transition: 0.3s;
  height: 151px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active,
  &:focus {
    border: 1px solid #444444;
    outline: none;
  }
}

.form__fieldset input[type="checkbox"] {
  display: none;
}

.form__checkbox {
  font-size: 16px;
  position: relative;
  padding: 10px 0 10px 45px;
  margin-bottom: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  color: #222222;

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    border: 1px solid #bfbfbf;
  }

  &::before {
    content: '';
    display: none;
    position: absolute;
    left: 9px;
    top: 50%;
    margin-top: -7px;
    width: 12px;
    height: 21px;
    border-right: 1px solid #68b738;
    border-bottom: 1px solid #68b738;
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border: 1px solid #d9d9d9;
    transition: 0.3s;
  }
}

.form__fieldset input[type="checkbox"]:checked + label::before {
  display: block;
}

.form__button {
  width: 100%;
  margin-top: 11px;
  font-size: 16px;
}

.form__required {
  width: 100%;
  text-align: center;
  font-family: $secondary-font;
  margin: 20px 0 33px 0px;
}
