.program__title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1;
  color: $header-color;
  margin: 0 0 36px;
  padding: 28px 20px 0;
}

.program__subtitle {
  color: $header-color;
  text-transform: uppercase;
  margin: 0 20px 36px 0px;
  padding: 0 20px;
}

.form__wrap {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px;
}

.form__block {
  flex-basis: 100%;
  max-width: 100%;
}

.form__fieldset {
  position: relative;
  border: none;
  padding: 0;
  margin: 0 0 15px;

  &--contact {
    margin-top: 26px;
  }

  &--comment {
    margin-top: 17px;
  }

  &--optional {
    margin-top: 26px;
  }

  &--line {
    padding: 13px 20px;
    margin: 0 -20px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
  }
}

.form__label {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 9px;
}

.form__text {
  font-size: 16px;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-right: 15px;
  color: #222222;
}

.form__input {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 13px 15px;
  transition: 0.3s;
  text-transform: uppercase;
  color: $text-color;
  font-size: 16px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active {
    outline: 2px solid $text-color;
  }

  &:active ~ svg,
  &:focus ~ svg {
    fill: #68b738;
  }
}

.form__fieldset input[type="radio"] {
  display: none;
}

.form__radio {
  font-size: 16px;
  position: relative;
  display: block;
  padding: 10px 0px 10px 45px;
  margin-bottom: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  color: #222222;

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    border: 1px solid #bfbfbf;
  }

  &::before {
    content: '';
    display: none;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #68b738;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: 1px solid #d9d9d9;
    transition: 0.3s;
    border-radius: 50%;
  }
}

.form__fieldset input[type="radio"]:checked + label::before {
  display: block;
}

.form__title {
  display: inline-block;
  max-width: 222px;
  margin: 0 0 32px;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000;
  background-color: $main-background;
}

.form .strikethrough-text::after {
  margin-top: 14px;
}

.form__icon {
  position: absolute;
  top: 52%;
  right: 15px;
  transform: translateY(-50%);
  transition: 0.3s;
  fill: $text-color;
}

.form__textarea-block {
  padding: 0 20px;
}

.form__textarea {
  width: 100%;
  border: 1px solid #e6e6e6;
  padding: 14px 13px;
  transition: 0.3s;
  height: 151px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:active,
  &:focus {
    border: 1px solid #444444;
    outline: none;
  }
}

.form__fieldset input[type="checkbox"] {
  display: none;
}

.form__checkbox {
  font-size: 16px;
  position: relative;
  padding: 10px 0 10px 45px;
  margin-bottom: 4px;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s;
  color: #222222;

  &:active {
    opacity: 0.3;
  }

  &:hover::after {
    border: 1px solid #bfbfbf;
  }

  &::before {
    content: '';
    display: none;
    position: absolute;
    left: 9px;
    top: 50%;
    margin-top: -7px;
    width: 12px;
    height: 21px;
    border-right: 1px solid #68b738;
    border-bottom: 1px solid #68b738;
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border: 1px solid #d9d9d9;
    transition: 0.3s;
  }
}

.form__fieldset input[type="checkbox"]:checked + label::before {
  display: block;
}

.form__button {
  width: 100%;
  margin-top: 11px;
  font-size: 16px;
}

.form__required {
  width: 100%;
  text-align: center;
  font-family: $secondary-font;
  margin: 20px 0 33px 0px;
}

@media (min-width: $tablet-width) {
  .program__title {
    font-size: 60px;
    padding: 32px 30px 0;
    margin: 0 0 56px;
  }

  .program__subtitle {
    font-size: 20px;
    line-height: 30px;
    margin: 0px 250px 60px 0px;
    padding: 0px 70px;
  }

  .form__fieldset{
    &--line {
      margin: 39px 0 0;
      padding: 25px;
      border: 1px solid #e6e6e6;
    }

    &--contact {
      margin-top: 82px;
    }

    &--comment {
      margin-top: 52px;
    }

    &--optional {
      margin-top: 68px;
    }
  }

  .form__wrap {
    padding: 0 70px;
  }

  .form__label {
    margin-bottom: 15px;
  }

  .form__text {
    font-size: 20px;
  }

  .form__input {
    padding: 10px 20px;
    font-size: 20px;
    line-height: 20px
  }

  .form__radio {
    font-size: 20px;
    margin-bottom: 15px;
    padding-left: 62px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      left: 12px;
      width: 18px;
      height: 18px;
    }

    &::after {
      width: 40px;
      height: 40px;
    }
  }

  .form__title {
    font-size: 36px;
    padding: 0 30px;
    max-width: none;
    margin: 0px 0 78px;
  }

  .form .strikethrough-text {
    padding: 0 40px;
  }

  .form__textarea-block {
    padding: 0 70px;
  }

  .form__textarea {
    margin-top: 5px;
    height: 173px;
    padding: 8px 17px;
    font-size: 20px;
    line-height: 30px;
  }

  .form__fieldset--optional .form__title {
    margin-bottom: 65px;
  }

  .form__fieldset--optional .form__block {
    display: flex;
    flex-wrap: wrap;
  }

  .form__fieldset--optional .form__wrap {
    width: 50%;
    padding: 0;

    &:nth-child(2n + 1) {
      padding-left: 70px;
    }

    &:nth-child(2n) {
      padding-right: 70px;
      padding-left: 30px;
    }
  }

  .form__checkbox {
    font-size: 20px;
    padding-left: 57px;
    margin-bottom: 32px;

    &::before {
      left: 15px;
      border-right: 2px solid #68b738;
      border-bottom: 2px solid #68b738;
    }

    &::after {
      width: 38px;
      height: 38px;
    }
  }

  .form__block-button {
    display: flex;
    padding-bottom: 75px;
  }

  .form__block-button .form__wrap {
    width: 50%;
    padding: 0;

    &:first-child {
      padding: 0 30px 0 70px;
    }

    &:last-child {
      padding: 0 70px 0 30px;
    }
  }

  .form__button {
    margin-top: 9px;
    padding: 15px;
    font-size: 20px
  }

  .form__required {
    margin: 24px 0 20px;
    text-align: left;
    font-size: 16px;
  }
}
