// Color
$header-color: #111;
$text-color: #444;
$fansy-color: #68b738;
$main-background: #fff;
$secondary-background: #f2f2f2;

// Fonts
$main-font: "OsWald","Arial",sans-serif;
$secondary-font: "Arial",sans-serif;
